.ativo {
  margin-top: 200px;
}

.texto {
  display: none;
}

.texto.ativar {
  display: block;
}

#circulo {
  width: 16px;
  height: 16px;
  background-color: #999;
  border-radius: 50%;
  position: absolute;
}